extends layout

block content

  div.container
    h2 Add Track

    div.content
    form#formAddTrack(name="addtrack",method="post",action="/api/tracks")
        p
            label(for='movieName') Select movie:
            select
                each movie in movies
                    option(name='movieId' value=movie.id) #{movie.title}
        p
            label(for='songName') Select song:
            select
                each song in songs
                    option(name='songId' value=song.id) #{song.title}
        p
            input#duration.form-control(type='text', name='songStartTime', placeholder='Song start time')  
        p
            input#duration.form-control(type='text', name='songEndTime', placeholder='Song end time')  
        p
            button.btn.btn-primary(type="submit") Add Track