extends layout

block content
  div.container
    h2 Acme-Licenses
    div.content
        a.btn.btn-primary( href="/songs" ) Songs menu
        a.btn.btn-primary( href="/movies" ) Movies menu
        a.btn.btn-primary( href="/tracks" ) Tracks menu


    