extends layout

block content
  div.container
    h2 Acme-Licenses - Movies
    div.content
      table.table
        a.btn.btn-primary( href="/movies/addMovie" ) Add Movie
        thead
          tr
            th Title
            th Genre            
            th Actions
        tbody
            each movie, i in movies
              tr
                td #{movie.title}
                td #{movie.genre}
                td 
                  a.btn.btn-primary( href="/movies/updateMovie/" + movie.id ) Update
                  a.btn.btn-primary( href="/movies/deleteMovie/" + movie.id ) Delete 