extends layout

block content
  div.container
    h2 Acme-Licenses - Tracks
    div.content
      table.table
        a.btn.btn-primary( href="/tracks/addTrack" ) Add track
        thead
          tr
            th Movie
            th Song
            th StartTime
            th EndTime
            th Actions
        tbody
            each track, i in tracks
              tr
                td #{track.movieId}
                td #{track.songId}
                td #{track.songStartTime}
                td #{track.songEndTime}
                td 
                  a.btn.btn-primary( href="/tracks/updateTrack/" + track.id ) Update
                  a.btn.btn-primary( href="/tracks/deleteTrack/" + track.id ) Delete
                  a.btn.btn-primary( href="/tracks/trackEvents/" + track.id ) Events