extends layout

block content
  div.container
    h2 Acme-Licenses - Tracks
    div.content
      table.table
        a.btn.btn-primary( href="/addTrack" ) Add track
        thead
          tr
            th Movie
            th Song
            th StartTime
            th EndTime
        tbody
            each track, i in tracks
              tr
                td #{track.movie.title}
                td #{track.song.title}
                td #{track.songStartTime}
                td #{track.songEndTime}
                td 
                  a.btn.btn-primary( href="/updateTrack/" + track.id ) Update
                  a.btn.btn-primary( href="/deleteTrack/" + track.id ) Delete
                  a.btn.btn-primary( href="/trackEvents/" + track.id ) Events