extends layout

block content

  div.container
    h2 Update Movie

    div.content
    form#formUpdateMovie(name="updatemovie",method="post",action="/movies/updateMovie/" + movie.id)
        p
            input#title.form-control(type='text', name='title', value=movie.title)
        p
            input#duration.form-control(type='text', name='genre', value=movie.genre)        
        p
            button.btn.btn-primary(type="submit") Update Movie